.home {
  @include page();
  .home__content {
    @include page__content();
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      @include text();
      font-size: $text-md;
    }
  }
}