.header {
  width: 100%;
  background-image: url('/assets/background/mars2.jpg'); 
  background-size: cover;
  background-position: center center;
  height: 350px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  .header__content {
    * {
      position: relative;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $text-sm;
    .header__input {
      background-color: transparent;
      color: $white;
      font-family: $montserrat;
      border-radius: 3px;
      border: 2px solid $white;
      &::placeholder {
        color: $white;
      }
    }
    .header__title {
      color: white;
      font-family: $open-sans;
      font-size: $text-lg;
      margin-bottom: 20px;;
    }
    .header__search {
      color: $white;
      padding: 5px 10px;
      display: block;
      width: 80%;
    }
    .header__options {
      margin-bottom: 30px;
      color: $white;
      font-family: $montserrat;
      .header__options-title {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .header__options-group {
        display: block;
        margin-bottom: 15px;
      }
      input {
        padding: 3px 5px;
        margin-right: 5px;
        margin-left: 8px;
        font-size: $text-xs;
      }
    }
    .header__archive-selector {
      padding: 3px 5px;
      margin-right: 5px;
      margin-left: 8px;
      font-size: $text-xs;
      option {
        background-color: red;
      }
    }
    .header__buttons {
      * {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}