.image-grid {
  width: 100%;
  .image-grid__title {
    font-family: $open-sans;
    font-size: $text-title;
    color: $white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .image-grid__wrapper {
    display: grid;
    width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;

    .image-grid__title {
      font-family: $open-sans;
    }

    .image-grid__item {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}